<%= form_with(model: subsidiary, local: true) do |form| %>
  <% if subsidiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subsidiary.errors.count, "error") %> prohibited this subsidiary from being saved:</h2>

      <ul>
      <% subsidiary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firm %>
    <%= form.text_field :firm %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="field">
    <%= form.label :CEO %>
    <%= form.text_field :CEO %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
