<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feedback.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @feedback.address %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @feedback.comments %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
